<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>
    <link rel="stylesheet" type="text/css" href="todolist-v1\public\css\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
</head>
<body>
   <div class="box" id="heading">
  <h1 > To-do Lists for  <%= day %> </h1>
   </div>
  
  <div class="box">
    
    <% for ( var i=0; i<newListItems.length; i++){%>
      <div class="item">
        <input type="checkbox"  name="" id=""> 
        <p> <%= newListItems[i] %> </p>
      </div>
    <%}%>
  
</div>
  
<div class="box">
  <form action="/" method="post">
    <input type="text" name="in1" placeholder="Enter Here">
      <button type="submit">+</button>
    
   
  </form>
</div>
    

</body>
</html>